.info .address {
  margin-bottom: 5px;
}
.detail .name {
  margin: 3px 0;
}
.detail ul {
  margin: 0;
  padding: 0 0 0 20px;
}
.detail .name, .detail li {
  text-transform: capitalize;
}
#lang-btn, #cvs-email-btn, #cvs-call-btn {
  position: fixed;
  z-index: 2000;
}
#cvs-email-btn, #cvs-call-btn {
  bottom: 3px;
  background-position: center;
}
 #contact .msg a {
  background-size: 22px;
  background-position: 3px center;
}
#cvs-email-btn, #cvs-call-btn, #contact .msg a {
  background-repeat: no-repeat;
}
#cvs-call-btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22M34%2C144.063v-36c0.031-6.406%2C7.406-17.844%2C7.719-18.125C98.188%2C32.5%2C175.438%2C0%2C256.063%2C0%20c80.813%2C0%2C158.313%2C32.656%2C214.813%2C90.438c0.063%2C0%2C7.125%2C11.25%2C7.125%2C17.625v36c0%2C13.188-9.688%2C28.875-21.5%2C34.75l-5.063%2C2.5%20c-11.75%2C5.938-30.813%2C5.375-42.25-1.125L366.875%2C156c-11.5-6.563-21.063-22.75-21.063-35.938V96.031%20C290.313%2C64.094%2C221.719%2C64.125%2C166.188%2C96v24.063c0%2C13.188-9.563%2C29.313-21%2C35.938l-42.375%2C24.125%20c-11.406%2C6.563-30.438%2C7.125-42.281%2C1.188l-5.031-2.5C43.688%2C172.875%2C34%2C157.25%2C34%2C144.063z%20M480%2C352v128c0%2C17.594-14.375%2C32-32%2C32%20H64c-17.563%2C0-32-14.406-32-32V352c0-17.594%2C10.188-42.188%2C22.625-54.625l82.75-82.75C149.813%2C202.188%2C174.438%2C192%2C192%2C192v-32%20c15.125-20.125%2C38.813-32%2C64-32s48.938%2C11.875%2C64%2C32v32c17.625%2C0%2C42.188%2C10.188%2C54.625%2C22.625l82.75%2C82.75%20C469.813%2C309.813%2C480%2C334.406%2C480%2C352z%20M352%2C352c0-53.031-42.938-96-96-96c-53%2C0-96%2C42.969-96%2C96s43%2C96%2C96%2C96%20C309.063%2C448%2C352%2C405.031%2C352%2C352z%20M256%2C288c-35.281%2C0-64%2C28.719-64%2C64s28.719%2C64%2C64%2C64c35.313%2C0%2C64-28.719%2C64-64%20S291.313%2C288%2C256%2C288z%22%2F%3E%3C%2Fsvg%3E");
}
 #contact .msg .call a {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22512px%22%20height%3D%22512px%22%3E%3Cpath%20style%3D%22fill%3A%23000%22%20d%3D%22M34%2C144.063v-36c0.031-6.406%2C7.406-17.844%2C7.719-18.125C98.188%2C32.5%2C175.438%2C0%2C256.063%2C0%20c80.813%2C0%2C158.313%2C32.656%2C214.813%2C90.438c0.063%2C0%2C7.125%2C11.25%2C7.125%2C17.625v36c0%2C13.188-9.688%2C28.875-21.5%2C34.75l-5.063%2C2.5%20c-11.75%2C5.938-30.813%2C5.375-42.25-1.125L366.875%2C156c-11.5-6.563-21.063-22.75-21.063-35.938V96.031%20C290.313%2C64.094%2C221.719%2C64.125%2C166.188%2C96v24.063c0%2C13.188-9.563%2C29.313-21%2C35.938l-42.375%2C24.125%20c-11.406%2C6.563-30.438%2C7.125-42.281%2C1.188l-5.031-2.5C43.688%2C172.875%2C34%2C157.25%2C34%2C144.063z%20M480%2C352v128c0%2C17.594-14.375%2C32-32%2C32%20H64c-17.563%2C0-32-14.406-32-32V352c0-17.594%2C10.188-42.188%2C22.625-54.625l82.75-82.75C149.813%2C202.188%2C174.438%2C192%2C192%2C192v-32%20c15.125-20.125%2C38.813-32%2C64-32s48.938%2C11.875%2C64%2C32v32c17.625%2C0%2C42.188%2C10.188%2C54.625%2C22.625l82.75%2C82.75%20C469.813%2C309.813%2C480%2C334.406%2C480%2C352z%20M352%2C352c0-53.031-42.938-96-96-96c-53%2C0-96%2C42.969-96%2C96s43%2C96%2C96%2C96%20C309.063%2C448%2C352%2C405.031%2C352%2C352z%20M256%2C288c-35.281%2C0-64%2C28.719-64%2C64s28.719%2C64%2C64%2C64c35.313%2C0%2C64-28.719%2C64-64%20S291.313%2C288%2C256%2C288z%22%2F%3E%3C%2Fsvg%3E");
}
#contact .msg .email a {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%3E%3Cg%20style%3D%22fill%3A%23000%22%3E%3Cpath%20d%3D%22M%2017.449848%2C61.790635%2083.660515%2C128%2017.451349%2C194.21108%22%2F%3E%3Cpath%20d%3D%22m%20238.54475%2C61.795141%20-66.20762%2C66.203709%2066.21515%2C66.21424%22%2F%3E%3Cpath%20d%3D%22M%20226.20285%2C49.45403%20128%2C147.66787%2029.794881%2C49.451104%22%2F%3E%3Cpath%20d%3D%22m%20159.9889%2C140.33177%20-31.99646%2C32.0421%20-31.988464%2C-32.03608%20-66.218134%2C66.20858%20196.425988%2C0.006%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
#contact .msg .call a:last-of-type {
  padding-left: 30px;
}
#cvs-call-btn {
  left: 3px;
  background-size: 23px;
}
#cvs-email-btn  {
  left: 43px;
  background-size: 29px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3Asvg%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22256%22%20height%3D%22256%22%3E%3Cg%20style%3D%22fill%3A%23fff%22%3E%3Cpath%20d%3D%22M%2017.449848%2C61.790635%2083.660515%2C128%2017.451349%2C194.21108%22%2F%3E%3Cpath%20d%3D%22m%20238.54475%2C61.795141%20-66.20762%2C66.203709%2066.21515%2C66.21424%22%2F%3E%3Cpath%20d%3D%22M%20226.20285%2C49.45403%20128%2C147.66787%2029.794881%2C49.451104%22%2F%3E%3Cpath%20d%3D%22m%20159.9889%2C140.33177%20-31.99646%2C32.0421%20-31.988464%2C-32.03608%20-66.218134%2C66.20858%20196.425988%2C0.006%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
#lang-btn {
  bottom: 40px;
  left: 83px;
}
#share-btn {
  display: none;
}
#contact {
	align-content: center;
	position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
  opacity: 0;
}
#contact div.content {
	background-color: #000;
	width: 300px;
	max-height: calc(100% - 50px);
	padding: 20px 10px 30px 10px;
	border-radius: 3px;
	margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
}
#contact div.close a {
	width: 16px;
	height: 16px;
	float: right;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214px%22%20height%3D%2214px%22%3E%3Cpolygon%20fill%3D%22%23FFF%22%20points%3D%2214%2C3%2011%2C0%207%2C4%203%2C0%200%2C3%204%2C7%200%2C11%203%2C14%207%2C10%2011%2C14%2014%2C11%2010%2C7%20%22%2F%3E%3C%2Fsvg%3E");
	cursor: pointer;
	margin: -10px 0;
}
#contact div.close {
	display: block;
	min-height: 10px;
	width: auto;
}
#panel {
  background-color: #fff;
}
@media only screen and (max-width : 750px), screen and (max-device-height: 350px) {
  #panel-content {
    height: calc(100% - 45px);
  }
}
